doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="./styles.css")
		title NodeJs

	body
		h1(class="title") #{title}

		div(class="container")
			if productInCart.length === 0
				p No orders available in index
			else
				each product in productInCart
					div(class="post-card")
						h3 #{product.title}
						p #{product.price}
						p #{product.quantity}
						p(class="post-card__content") #{totalPrice}

	script(src="./index.js")

